<h1 align="center">ABOUT US</h1>
<<div class="center jumbotron about-jumbotron">
  <h1>Our Mission:</h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent odio tortor, fermentum eu mollis non, tincidunt ac turpis. Maecenas vel efficitur ipsum. Phasellus lorem nisi, tincidunt sed venenatis sed, vulputate convallis sem. Fusce pulvinar purus at lacus gravida aliquam vitae non metus. Morbi at pulvinar purus. In lacinia augue at metus dictum, id egestas erat accumsan. Sed tempus lorem convallis placerat ultricies. Aliquam commodo dolor nec velit rutrum, nec convallis urna porta. Donec vitae placerat quam, eget mollis quam.
  </p>
  <p>
  Nulla quam sapien, fermentum a molestie nec, egestas id ante. Ut ligula sapien, sodales ac tincidunt eu, fringilla sit amet dolor. Morbi egestas lorem vitae porta tristique. Cras lacinia, purus a sodales semper, nisi velit maximus enim, vel aliquet libero augue ac enim. Sed risus felis, suscipit id eros a, fermentum hendrerit lorem. Morbi in metus eleifend, pulvinar arcu sed, imperdiet metus. Quisque sit amet ornare ipsum. Cras sed pellentesque odio, eget lacinia nibh. Donec cursus tincidunt tortor, et feugiat justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce tempor, tortor eu convallis viverra, velit dui gravida ex, id elementum tellus metus vitae dolor. Curabitur hendrerit metus purus. Morbi sit amet magna imperdiet, blandit urna in, posuere neque.
  </p>
    <%# link_to "About", about_path %>
</div>

