<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <style>
        .vl {
            border-left: 3px solid grey;
            height: 500px;
            position: absolute;
            left: 50%;
            margin-left: -3px;
            top: 100;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">About Us</h1>

    <center><img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.asiabiz.sg%2Fwp-content%2Fuploads%2Fboost-your-startup-via-6-startup-sg-support-schemes.jpg&f=1&nofb=1" height="500" alt="" srcset=""></center>
    <hr>
    <div class="vl"></div>
    <h4>Opperating since 2019</h4>
</body>
</html>


