<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; RvB Enterprises 
      by River van Blerk
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %>
      </ul>
    </nav>
  </footer>
</div>


